echo "*.dart linguist-detectable=true" > .gitattributes
echo "*.cmake linguist-detectable=false" >> .gitattributes
echo "*.cpp linguist-detectable=false" >> .gitattributes
echo "*.h linguist-detectable=false" >> .gitattributes
