*.dart linguist-detectable=true
*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.cmake linguist-detectable=false
*.ico linguist-detectable=false
*.rc linguist-detectable=false
windows/ linguist-vendored
linux/ linguist-vendored
macos/ linguist-vendored
web/ linguist-vendored
